{% extends "layout.html" %}
{% block content %}
<div class="home">
    <h2>Homepage</h2>
</div>

<div class="col-lg-10 ">
    <center>
        <div class="brand">
            <strong><h1>Assignment No.1</h1></strong>
        </div>

        <div class="address-bar">Topic: CRUD application using flask and mongoDB</div>
    </center>
</div>
    </div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <center><h5>Copyright &copy;	IQVIA Technologies  <a href="http://www.iqvia.com/">IQVIA Home</a></h5></center>


            </div>

        </div>
    </div>
</footer>

{% endblock %}
